#nav {
  width: inherit;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px 0px;
  font-weight: 400;
  font-size: 24px;
  height: 83px;
  background-color: white;
}

@media (max-width: 768px) {
  .sticky {
    width: 100%;
  }
}

#backIcon-wrapper {
  display: flex;
  height: 40%;
}

#nav-title {
  color: black;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}
