@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "/src/css/navbar.css";
@import "/src/css/home.css";
@import "/src/css/upload.css";
@import "/src/css/detail.css";
@import "/src/css/edit.css";

* {
  margin: 0;
}

body {
  /* background-color: #fafafa; */
  max-width: 640px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
