@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./navbar.css";
@import "./home.css";

* {
  margin: 0;
}

body {
  /* background-color: #fafafa; */
  max-width: 640px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
